*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: hsl(195deg 81% 16%);
}

h1{
    color: white;
    padding: 50px;
    text-align: center;
    font-size: 70px;
}

.riga{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

.square{
    width: 140px;
    height: 140px;
    text-align: center;
    line-height: 140px;
    font-size: 25px;
}

.big{
    background-color: hsl(346deg 85% 61%);
}

.medium{
    background-color: hsl(42deg 100% 70%);
}

.smol{
    background-color: hsl(164deg 90% 44%);
}

.numb{
    background-color: hsl(195deg 81% 39%);
}